@import "../../variable.scss";

.plans {
    background-image: var(--third-grediant);

    .plans__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .plans__item-wrapper {
            position: relative;

            .plans__label {
                position: absolute;
                top: -12px;
                right: 40px;
                z-index: 20;
                background-color: var(--primary-color);
                box-shadow: var(--shadow);
                color: var(--container-color);
                padding: 4px 16px;
                border-radius: 26px;
                font-size: var(--tiny-font-size);
                font-weight: 700;
            }
        }
    }

    .plans__item {
        border: 2px solid var(--container-color);

        &:nth-child(2) {
            border: 2px solid var(--border-color);
        }
    }

    .plans__subtitle {
        color: var(--title-color);
        font-size: var(--tiny-font-size);
        font-weight: 700;
        display: block;
        margin-bottom: 65px;
    }

    .plans__price {
        font-size: var(--h2-font-size);
        line-height: 1;
        margin-bottom: 20px;

        span {
            color: var(--primary-color);
        }

        em {
            font-size: var(--normal-font-size);
            font-style: normal;
            margin-left: 15px;
        }
    }

    .plans__description {
        padding-bottom: 30px;
        min-height: 150px;
        text-align: justify;
    }

    .plans__list {
        margin-bottom: 35px;
    }

    .list__item {
        position: relative;
        margin-block: 5px;
        padding-left: 30px;
    }

    .list__icon {
        position: absolute;
        left: 0;
        top: 6px;
        color: var(--primary-color);
    }

    .list__item span,
    .plans__item del {
        line-height: 1.7;
    }

    .plans__item del {
        color: #676767;
    }

    .plans__btn {
        color: var(--container-color);

        &::before {
            transform: scale(1);
            filter: blur(0);
            opacity: 1;
        }

        .plans__btn-icon {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s var(--transition);
        }

        &:hover .plans__btn-icon {
            right: 35px;
        }
    }

}